# Good .dockerignore
node_modules
.next
dist
.git
Dockerfile
npm-debug.log*
pnpm-lock.yaml # (keep lockfiles you don't use)
yarn.lock      # (keep lockfiles you don't use)
# DO NOT ignore src/ or app/
